
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Đơn hàng của quý khách đã được chúng tôi ghi nhân. Chúng tôi sẽ liên hệ và giao hàng đúng hẹn.</h2>
<h4 style="color:greenyellow; text-align:center">
    @Html.ActionLink("Về trang chủ", "Index", "WineStore")
</h4>
