use master
GO
/****** Object:  Database [QLBANRUOU]    Script Date: 25/10/2017 3:49:28 CH ******/
drop database QLBANRUOU
CREATE DATABASE [QLBANRUOU]
use QLBANRUOU
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBANRUOU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBANRUOU]
GO
/****** Object:  Table [dbo].[CHITIETDONTHANG]    Script Date: 25/10/2017 3:49:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONTHANG](
	[MaDonHang] [int] NOT NULL,
	[MaRuou] [int] NOT NULL,
	[Soluong] [int] NULL,
	[Dongia] [decimal](18, 0) NULL,
 CONSTRAINT [PK_CHITIETDONTHANG] PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC,
	[MaRuou] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 25/10/2017 3:49:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[MaDonHang] [int] IDENTITY(1,1) NOT NULL,
	[Dathanhtoan] [bit] NULL,
	[Tinhtranggiaohang] [bit] NULL,
	[Ngaydat] [datetime] NULL,
	[Ngaygiao] [datetime] NULL,
	[MaKH] [int] NULL,
 CONSTRAINT [PK_DONDATHANG] PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 25/10/2017 3:49:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[Taikhoan] [varchar](50) NOT NULL,
	[Matkhau] [varchar](50) NOT NULL,
	[Email] [varchar](100) NULL,
	[DiachiKH] [nvarchar](200) NULL,
	[DienthoaiKH] [varchar](50) NULL,
	[Ngaysinh] [datetime] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIRUOU]    Script Date: 25/10/2017 3:49:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIRUOU](
	[MaLoaiRuou] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiRuou] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAIRUOU] PRIMARY KEY CLUSTERED 
(
	[MaLoaiRuou] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NUOCNHAPKHAU]    Script Date: 25/10/2017 3:49:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NUOCNHAPKHAU](
	[MaNNK] [int] IDENTITY(1,1) NOT NULL,
	[TenNNK] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NUOCNHAPKHAU] PRIMARY KEY CLUSTERED 
(
	[MaNNK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHASANXUAT]    Script Date: 25/10/2017 3:49:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHASANXUAT](
	[MaNSX] [int] IDENTITY(1,1) NOT NULL,
	[TenNSX] [nvarchar](50) NOT NULL,
	[Diachi] [nvarchar](100) NULL,
	[Loigioithieu] [nvarchar](max) NULL,
	[Dienthoai] [varchar](50) NULL,
 CONSTRAINT [PK_NHASANXUAT] PRIMARY KEY CLUSTERED 
(
	[MaNSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RUOU]    Script Date: 25/10/2017 3:49:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RUOU](
	[MaRuou] [int] IDENTITY(1,1) NOT NULL,
	[TenRuou] [nvarchar](100) NOT NULL,
	[Giaban] [decimal](18, 0) NULL,
	[Mota] [nvarchar](max) NULL,
	[AnhRuou] [varchar](50) NULL,
	[Ngaycapnhat] [datetime] NULL,
	[Soluongton] [int] NULL,
	[MaLoaiRuou] [int] NULL,
	[MaNNK] [int] NULL,
	[MaNSX] [int] NULL,
	[Vip] [int] NULL,
 CONSTRAINT [PK_RUOU] PRIMARY KEY CLUSTERED 
(
	[MaRuou] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAIKHOANADMIN]    Script Date: 25/10/2017 3:49:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOANADMIN](
	[Tentaikhoan] [varchar](50) NOT NULL,
	[Matkhau] [varchar](50) NOT NULL,
	[HotenAdmin] [nvarchar](100) NULL,
 CONSTRAINT [PK_TAIKHOANADMIN] PRIMARY KEY CLUSTERED 
(
	[Tentaikhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MaKH], [HoTen], [Taikhoan], [Matkhau], [Email], [DiachiKH], [DienthoaiKH], [Ngaysinh]) VALUES (1, N'Phan Văn Minh', N'minh', N'123456', N'vanminhphan22@gmail.com', N'HCM', N'0123456789', CAST(N'2017-10-25 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[LOAIRUOU] ON 

INSERT [dbo].[LOAIRUOU] ([MaLoaiRuou], [TenLoaiRuou]) VALUES (1, N'Rượu nội')
INSERT [dbo].[LOAIRUOU] ([MaLoaiRuou], [TenLoaiRuou]) VALUES (2, N'Rượu ngoại')
SET IDENTITY_INSERT [dbo].[LOAIRUOU] OFF
SET IDENTITY_INSERT [dbo].[NUOCNHAPKHAU] ON 

INSERT [dbo].[NUOCNHAPKHAU] ([MaNNK], [TenNNK]) VALUES (1, N'Nước Pháp')
INSERT [dbo].[NUOCNHAPKHAU] ([MaNNK], [TenNNK]) VALUES (2, N'Nước Đức')
INSERT [dbo].[NUOCNHAPKHAU] ([MaNNK], [TenNNK]) VALUES (3, N'Nước Anh')
SET IDENTITY_INSERT [dbo].[NUOCNHAPKHAU] OFF
SET IDENTITY_INSERT [dbo].[NHASANXUAT] ON 

INSERT [dbo].[NHASANXUAT] ([MaNSX], [TenNSX], [Diachi], [Loigioithieu], [Dienthoai]) VALUES (1, N'Bodeaux', N'Pháp', N'Nơi rượu được ra đời.', N'0999999')
INSERT [dbo].[NHASANXUAT] ([MaNSX], [TenNSX], [Diachi], [Loigioithieu], [Dienthoai]) VALUES (2, N'Fritz Haag', N'Đức', N'Nơi rượu được ra đời.', N'098674532')
INSERT [dbo].[NHASANXUAT] ([MaNSX], [TenNSX], [Diachi], [Loigioithieu], [Dienthoai]) VALUES (3, N'Champagne', N'Pháp', N'Nơi rượu được ra đời.', N'0999999')
SET IDENTITY_INSERT [dbo].[NHASANXUAT] OFF
SET IDENTITY_INSERT [dbo].[RUOU] ON 

INSERT [dbo].[RUOU] ([MaRuou], [TenRuou], [Giaban], [Mota], [AnhRuou], [Ngaycapnhat], [Soluongton], [MaLoaiRuou], [MaNNK], [MaNSX], [Vip]) VALUES (1, N'Rap Special Reserva', CAST(390000 AS Decimal(18, 0)), N'Người Chile tự hào về giống nho Camernere mà họ cho là chỉ có tại Chile mới cho ra những trái nho ngon nhất.
Nó có tính chất gần giống hệt như Merlot, như một người đàn bà diễm lệ, đẫy đà hơi đứng tuổi nhưng rất ngọt ngào.
Mùi Vị: Hoa Hồng, Kẹo đậu phọng, anh đào, dâu đen.
Năm sản xuất: 2011', N'1.jpg', CAST(N'2017-10-25 00:00:00.000' AS DateTime), 35, 2, 10, 7, NULL)
INSERT [dbo].[RUOU] ([MaRuou], [TenRuou], [Giaban], [Mota], [AnhRuou], [Ngaycapnhat], [Soluongton], [MaLoaiRuou], [MaNNK], [MaNSX], [Vip]) VALUES (2, N'Corpalo Gran reserva', CAST(680000 AS Decimal(18, 0)), N'Nếu Shiraz được ví như người đàn ông lực lưỡng thì Merlot lại
 được ví nhưng người đàn bà yêu kiều, diễm lệ, hơi đẫy đà một tí nhưng rất hấp dẫn. Sự pha trộn giữa hai tạo nên một vị cân bằng tuyệt vời.
Mùi Vị: Hạt tiêu, dâu đen, anh đào, kẹo đậu phọng.
Năm sản xuất: 2011', N'2.jpg', CAST(N'2017-10-21 00:00:00.000' AS DateTime), 35, 1, 10, 6, NULL)
INSERT [dbo].[RUOU] ([MaRuou], [TenRuou], [Giaban], [Mota], [AnhRuou], [Ngaycapnhat], [Soluongton], [MaLoaiRuou], [MaNNK], [MaNSX], [Vip]) VALUES (3, N'Mapola Gran reserva , Carbernet Sauvignon-merlot', CAST(730000 AS Decimal(18, 0)), N'Có vị lực lưỡng tráng kiện của Carbernet Sauvignon nhưng lại có 
pha lẫn với Merlot là 1 giống nho gần giống với Cab- Sau nhưng mềm mại hơn.
Mùi Vị: hoa hồng, anh đào, húng bạc hà, hạt tiêu, kẹo đậu phọng, mạch nha, mận đen
Năm sản xuất: 2013', N'3.jpg', CAST(N'2017-10-21 00:00:00.000' AS DateTime), 40, 2, 12, 3, NULL)
SET IDENTITY_INSERT [dbo].[RUOU] OFF
INSERT [dbo].[TAIKHOANADMIN] ([Tentaikhoan], [Matkhau], [HotenAdmin]) VALUES (N'admin', N'admin', N'Rio')
INSERT [dbo].[TAIKHOANADMIN] ([Tentaikhoan], [Matkhau], [HotenAdmin]) VALUES (N'admin1', N'admin1', N'Tú')
INSERT [dbo].[TAIKHOANADMIN] ([Tentaikhoan], [Matkhau], [HotenAdmin]) VALUES (N'admin2', N'admin2', N'Hổ')
ALTER TABLE [dbo].[CHITIETDONTHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONTHANG_DONDATHANG] FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DONDATHANG] ([MaDonHang])
GO
ALTER TABLE [dbo].[CHITIETDONTHANG] CHECK CONSTRAINT [FK_CHITIETDONTHANG_DONDATHANG]
GO
ALTER TABLE [dbo].[CHITIETDONTHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONTHANG_RUOU] FOREIGN KEY([MaRuou])
REFERENCES [dbo].[RUOU] ([MaRuou])
GO
ALTER TABLE [dbo].[CHITIETDONTHANG] CHECK CONSTRAINT [FK_CHITIETDONTHANG_RUOU]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[RUOU]  WITH CHECK ADD  CONSTRAINT [FK_RUOU_LOAIRUOU] FOREIGN KEY([MaLoaiRuou])
REFERENCES [dbo].[LOAIRUOU] ([MaLoaiRuou])
GO
ALTER TABLE [dbo].[RUOU] CHECK CONSTRAINT [FK_RUOU_LOAIRUOU]
GO
ALTER TABLE [dbo].[RUOU]  WITH CHECK ADD  CONSTRAINT [FK_RUOU_NUOCNHAPKHAU] FOREIGN KEY([MaNNK])
REFERENCES [dbo].[NUOCNHAPKHAU] ([MaNNK])
GO
ALTER TABLE [dbo].[RUOU] CHECK CONSTRAINT [FK_RUOU_NUOCNHAPKHAU]
GO
ALTER TABLE [dbo].[RUOU]  WITH CHECK ADD  CONSTRAINT [FK_RUOU_NHASANXUAT] FOREIGN KEY([MaNSX])
REFERENCES [dbo].[NHASANXUAT] ([MaNSX])
GO
ALTER TABLE [dbo].[RUOU] CHECK CONSTRAINT [FK_RUOU_NHASANXUAT]
GO
USE [master]
GO
